body {
    font-family: monospace;
}

.main {
    border-radius: 1em;
    background-color: antiquewhite;
    width: 25%;
    text-align: center;
}

#calculate-btn {
    border-radius: 1em;
    border-color: white;
    display: block;
    padding: 10px;
    margin: 10px;
}

#calculate-btn:hover {
    background-color: black;
    color: white;
}

#year-input{
    width: 50%;
}

#month-input{
    width: 50%;
}

#day-input{
    width: 50%;
}

#para {
    font-size: 30px;
}